%h1 Yammer#yammer_og_post
%p Find me in app/views/yammer/yammer_og_post.html.haml
%hr/

I just POSTed some data to Yammer Open Graph for you.

%br/
%br/
I sent these params to the controller:
%br/
%br/
= debug params

%br/
%br/
I sent this hash-object to this call: @yammer_client.post('activity', @og_hash)
%br/
%br/
= debug @og_hash
%br/
%br/

Here is Yammer's response:

= debug @output

Hopefully you will see data from this POST on your Yammer page soon.

