%h1 Yammer#yammer_request
%p Find me in app/views/yammer/yammer_request.html.haml
%hr/

find_by_id wants a long 10 digit number.
%br/
%br/
You can find a 10 digit number here:
%a(href='/yammer/client_method/users') /yammer/client_method/users
%br/
%br/
=form_tag('request',method: 'get') do
  #{'/yammer/client_method/find_by_id/'}
  =text_field_tag :the_id
  =submit_tag 'send GET request'

= debug @output

