%h1 Yammer#yammer_og_post
%p Find me in app/views/yammer/yammer_og_post.html.haml
%hr/

We POSTed some data to Yammer OpenGraph for you.  Here is Yammer's response:

= debug @output

Hopefully you will see data from this POST on your Yammer page soon.

