%h1 Yammer#open_graph
%p Find me in app/views/yammer/open_graph.html.haml
%hr/

= debug @output

=form_tag('yammer_og_post') do
  =text_field_tag :yname
  =text_field_tag :yemail
  =submit_tag 'POST to Yammer OpenGraph'
