%h1 Yammer#open_graph
%p Find me in app/views/yammer/open_graph.html.haml
%hr/

= debug @output

You may use this form to POST data to Yammer Open Graph.
If you send a value for E-Mail which is different than the E-Mail address you used to login, then you should see an error message.
%br/
%br/
Documentation:
%a(target='y' href='https://developer.yammer.com/opengraph/') https://developer.yammer.com/opengraph/
%br/
%br/
=form_tag('yammer_og_post') do
  - actions = [['Create', 'create'], ['Like','like'], ['Update','update'], ['Delete', 'delete']]
  = select_tag(:crud_action, options_for_select(actions))
  %br/
  Your Name:
  =text_field_tag :yname
  %br/
  Your E-Mail:
  =text_field_tag :yemail
  %br/
  URL of interesting article:
  =text_field_tag :yurl
  %br/
  Title of this article:
  =text_field_tag :ytitle
  %br/
  URL of interesting image:
  =text_field_tag :yimage
  %br/
  =submit_tag 'POST to Yammer OpenGraph'
