!!! 5
%html
  %head
    %title Yammer API demo
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    - # http://developer.yammer.com/connect/
    = javascript_include_tag 'https://assets.yammer.com/platform/yam.js', 'data-app-id' => ENV['YAMMER_KEY']
    = csrf_meta_tags
  %body
    #links
      Yammer on Rails
      %hr/
      %img(src='/assets/ytrain.jpeg')
      %a(href='/welcome/index')      /welcome/index
      %a(href='/auth/yammer')        /auth/yammer
      %a(href='/yammer/client')      /yammer/client 
      %a(href='/yammer/method_list') /yammer/method_list
      %a(href='/yammer/request')     /yammer/request
      %a(href='/yammer/open_graph')  /yammer/open_graph
      %a(href='/yammer/like_button') /yammer/like_button
      I use this link to
      %br/
      check on omniauth:
      %a(href='/auth/developer') /auth/developer
      %br/
      Yammer Docs:
      %br/
      %a(href='https://developer.yammer.com/documentation' target='x')
        documentation

      %hr/
    #maincontent
      =yield
    :css
      #links { background-color: #ddd; display: inline; float: left; padding: 9px; margin: 5px; }
      #links a { display: block; padding-bottom: 9px;}
      #links img { height: 150px; }
      #maincontent { width: 900px; background-color: #eee; float: left; padding: 9px; margin: 5px; }
